@import "compass";
@include global-reset;

@import "custom/colors";
@import "custom/fonts";
@import "custom/layout";
@import "base";
@import "plugins/**/*";
@import "custom/styles";

.home-page {
  margin-top: 200px;
}

.blog-header {
  background: none;
  background-color: #ccc;
  height: 200px;
  padding: 30px;
}

.blog-header>h1 {
  color: #1863a1;
}

.blog-header>p {
}

ol {
  list-style: decimal;
  margin-left: 20px;
}